.header {
    height: 80px;

    font-weight: 600;
    font-size: 14px;

    color: #fff;
    background-color: #0D0D0D;
}
.header__container {
    max-width: 1170px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    padding: 0 20px;
}
.header__information {
    display: flex;
}
.information__block {
    display: flex;
    align-items: center;
    margin: 0 30px;
}
.information__blockImg {
    margin: 0 15px;
}
.information__blockDescription {
    font-size: 18px;
}

@media (max-width: 768px) {
    .information__block {
        margin: 0;
    }
    .information__blockDescription {
        font-size: 14px;
    }
    .information__blockImg img{
        width: 40px;
        height: 40px;
    }
}
@media (max-width: 480px) {
    .header__container {
        padding: 0 10px;
    }
    .header__information {
        gap: 10px;
    }
    .information__block {
        margin: 0;
    }
    .information__blockDescription {
        font-size: 12px;
    }
    .information__blockImg {
        margin: 0 5px;
    }
    .information__blockImg img{
        width: 30px;
        height: 30px;
    }
    .header__socialMedia img {
        width: 30px;
        height: 30px;
    }
}